
<section class="border-2 border-main/50 p-4 rounded-xl w-96 max-w-full mx-auto mb-4">
    <h3 class="text-xl font-semibold text-center">اشترك في نشرتنا البريدية</h3>
    <form id="sub-form" class="flex items-center gap-4 w-full mt-4">
        <input type="email" required class="border border-main/20 rounded-xl flex-1 h-10 focus:outline-none focus:border-main/50 transition-colors px-4" >
        <button class="bg-muted px-4 py-2 rounded-xl hover:scale-105 transition-transform" style="background-color: rgb(var(--color-text-main)); color: rgba(var(--color-bg-main)) !important;">اشتراك</button>
    </form>
</section>