---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeadBase from '../components/HeadBase.astro';

interface Props {
	title?: string;
	description?: string;
}

const { ...headProps } = Astro.props;
---

<!doctype html>
<html lang="ar" dir="rtl"> 
	<head>
		<HeadBase {...headProps} /> 
	</head>
	<body class="bg-main text-main min-h-screen max-w-3xl mx-auto flex flex-col px-4">
		<Header/>
		<slot />
		<Footer />
	</body>
</html>
